 .Button{
     font-size: 1.4em;
     border: none;
     background-color: white;
     border-bottom: solid 1px #888;
     border-right: solid 1px #888;
 }

 .Button:active{
     background-color: #ccc;
 }
.Button.double{
    grid-column: span 2;
}
.Button.triple{
    grid-column: span 3;
}
.Button.operation{
    background-color: #fa8231;
    color: #fff; 
}
.Button.operation:active{
    background-color: #8b481b;
} 